<div class="container-fluid mt-4">
  <div class="row mb-5">
    <div class="col col-md-9 mt-5">
      <h5>Ürünler</h5>
      <hr>
      <div class="table-responsive-lg">
        <table class="table table-sm table-bordered table-hover">
          <thead>
            <td><b>Ürün Görseli</b></td>
            <td><b>Ürün Adı</b></td>
            <td><b>Ürün Bilgisi</b></td>
            <td><b>Ürün Kategorisi</b></td>
            <td><b>Ürün Fiyatı</b></td>
            <td><b>Kayıt Tarihi</b></td>
            <td><b>Düzenlenme Tarihi</b></td>
            <td><b>Düzenle</b></td>
            <td><b>Sil</b></td>
          </thead>
          <tbody>
            <tr *ngFor=" let urun of urunler">
              <td><img src="{{urun.url}}" alt="" style="height:110px;width:110px;"></td>
              <td>{{urun.urunAd}}</td>
              <td>{{urun.urunBilgi}}</td>
              <td>{{urun.urunKategori}}</td>
              <td>{{urun.urunFiyat}}</td>
              <td>{{urun.kayTarih | date:'dd.MM.yyyy HH:mm'}}</td>
              <td>{{urun.duzTarih | date:'dd.MM.yyyy HH:mm'}}</td>
              <td><button class=" btn btn-outline-warning btn-sm mt-2" (click)="Duzenle(urun)">Düzenle</button>
              </td>
              <td><button class="btn btn-outline-danger btn-sm mt-2" (click)="Sil(urun)">Sil</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3 float-right mt-5 mb-5">
      <h5>Ürün Kaydı Ekle</h5>
      <hr>
      <form ngForm="ngForm">
        <hr>
        <div class="form-group input-group-sm">
          <label>Ürün Görseli</label>
          <input type="file" name="urunFotoUrl" [(ngModel)]="seckayit.urunFotoUrl" class="form-control"
            (change)="this.DosyaSec($event)">
        </div>
        <input type="hidden" name="key" class="form-control" [(ngModel)]="seckayit.key">
        <div class="form-group input-group-sm">
          <label for="">Ürün Adı</label>
          <input type="text" name="urunAd" class="form-control" [(ngModel)]="seckayit.urunAd">
        </div>
        <div class="form-group">
          <label for="">Ürün Bilgi</label>
          <textarea type="text" name="urunBilgi" class="form-control" [(ngModel)]="seckayit.urunBilgi"></textarea>
        </div>
        <div class="form-group">
          <label for="">Ürün Kategorisi</label>
          <select name="urunKategori" class="form-control" [(ngModel)]="seckayit.urunKategori">
            <option value="Masaüstü">Masaüstü</option>
            <option value="Dizüstü">Dizüstü</option>
          </select>
        </div>
        <div class="form-group input-group-sm">
          <label for="">Ürün Fiyatı</label>
          <input type="text" name="urunFiyat" class="form-control" [(ngModel)]="seckayit.urunFiyat">
        </div>
        <div class="form-group input-group-sm">
          <label for="">Ram (Sistem Belleği)</label>
          <input type="text" name="urunRam" class="form-control" [(ngModel)]="seckayit.urunRam">
        </div>
        <div class="form-group input-group-sm">
          <label for="">İşlemci Hızı</label>
          <input type="text" name="urunIslemciHizi" class="form-control" [(ngModel)]="seckayit.urunIslemciHizi">
        </div>
        <div class="form-group input-group-sm">
          <label for="">Disk Kapasitesi</label>
          <input type="text" name="urunDiskKapasitesi" class="form-control" [(ngModel)]="seckayit.urunDiskKapasitesi">
        </div>
        <div class="form-group input-group-sm">
          <label for="">Ekran Kartı Hafızası</label>
          <input type="text" name="urunEkranKartiHafizasi" class="form-control"
            [(ngModel)]="seckayit.urunEkranKartiHafizasi">
        </div>
        <div class="form-group">
          <button routerLink="/" class="btn btn-primary float-left mb-5">Ürünleri Gör</button>
          <input type="submit" value="Kaydet" (click)="Kaydet()" (click)="DosyaYukle()"
            class="btn btn-outline-success float-right">
        </div>
        <div class="mt-5" [ngClass]="sonuc.islem ? 'alert alert-success':'alert alert-danger'"
          *ngIf="sonuc.mesaj?.length>0">
          {{sonuc.mesaj}}
        </div>
      </form>
    </div>
  </div>
</div>